<div class="shipping">
  <h4>HOW LONG IS THE PROCESSING TIME?</h4>
  <div>
    Once payment has been made, 99% of all orders leave our fulfillment center within 2-3 business days.
  </div>
  <div>
    They will be sent to the shipping company and from there it will be completely handled by them.
  </div>

  
  <h4>HOW LONG IS THE SHIPPING TIME?</h4>
  <div>
    Shipping times vary for different locations.
  </div>
  <div>
    Shipping for orders in the United States, New Zealand, Canada and Australia takes 15-20 business days, and the shipping method is <a href="http://www.ems.com.cn/english.html" class="text-link">ePacket</a>. 
  </div>
  <div>
    The Shipping methods for orders in the United Kingdom are Royal Mail Economy, ePacket or Singapore Post.<br>
    For the first two, your order should arrive within 5-15 business days of shipping while the last one takes around 15-40 business days to arrive.
  </div>
  <div>
    Tracking and secure check out are provided for all orders.
  </div>

  <h4>DO YOU DELIVER INTERNATIONALLY?</h4>
  <div>
    For other countries, it will depend on your shipping carrier services.
  </div>
  <div>
    Shipping for other locations takes 20-40 business days.
  </div>
</div>